.container {
  min-height: 100vh;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 1100px;
}

.help {
  color: var(--text-color);
}
